<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <style>
        h1{
            background-color: blueviolet;
            color: white;
            border:4px dotted black;
            
        }
    </style>
</head>
<body>
    <center>
    <h1>This is shopping Html Page</h1>
    <h2><marquee>This page is rendering by using render function</marquee></h2>
    </center>
</body>
</html>